@import '../abstracts/all';

.display
{
  grid-area: output;
  color: black;
  display: flex;
  flex-direction: column;
  border-bottom: 1px solid black;
  .formula
  {
    overflow-y: auto;
  }
}

.display > div
{
  @include style-font(25px, bold, 2px);
  display: flex;
  justify-content: flex-end;
  word-break: break-all;
  text-align: right;
  line-height: 30px;
  min-height: 34px;
  max-height: 68px;
  padding: 2px;
}
